<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/form.css">
</head>

<body>
    <h1 >Create Student</h1>
    <div class="container">
        <form action="/post/student" method="post">
            <div>
                <label for="">Name</label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="">Email</label>
                <input type="email" name="email">
            </div>
            <div>
                <label for="">Mobile</label>
                <input type="number" name="mobile">
            </div>
            <div>
                <label for="">Regno</label>
                <input type="number" name="regno">
            </div>
            <div class="button">
                <button type="submit">Submit</button>
            </div>
            <div class="login">
                <a href="/login.html">Already Have a Account Please <b style="color: red;">Login</b></a>
            </div>
        </form>
    </div>
</body>

</html>