<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/form.css">
</head>

<body>
    <h1 style="text-align: center;color: white;margin: 5px;position: relative;top: 100px">Login Student</h1>
    <div class="container">
        <form action="/post/student/login" method="post">
            <div>
                <label for="">Name</label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="">Regno</label>
                <input type="number" name="regno">
            </div>
            <div class="button">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>